# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class



# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python virtual environments
env/
venv/
.venv/

.vscode/

# macOS system files
.DS_Store



.env
.env.*

# Logs
*.log

